# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Pipenv / Poetry
Pipfile.lock
poetry.lock

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# SQLite
# -----------------------------
*.db
*.sqlite3

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# MacOS / Windows temp
# -----------------------------
.DS_Store
Thumbs.db